body {
    background-color:#008fb8;
}

h1 {
    border: #FFFFFF 2px dotted;
    width: 400px;
    margin:0 auto;
    border-radius:15px;
    padding:10px;
    text-align: center;
    color: #FFFFFF;
    font:30px "Arial", simplified;
}
#info {
    background-color: #ffffff;
    width:400px;
    margin:0 auto;
    border: #008fb8 2px;
}