<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <title>Colors</title>
    <link rel="stylesheet" href="../csscolors/css/main.css">
    <link rel="stylesheet" href="../textstyles/css/textstyles.css">
    <link rel="stylesheet" href="../boxes/css/boxstyles.css">
    <link href='http://fonts.googleapis.com/css?family=Denk+One' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="css/main.css">
</head>
<body>
<h1>LongBoarding</h1>

<div id="navcontainer"> <ul id="coolul">
    <li><a href="#board">Board</a></li>
    <li><a href="#uses">Uses</a></li>
    <li><a href="#transportation">Transportation</a></li>
    <li><a href="#slalom">Slalom</a></li>
    <li><a href="#freeride">Free Ride</a></li>
    <li><a href="#downhill">Down Hill</a></li>
    <li><a href="#dancing">Dancing</a></li>
    <li><a href="#cruising">Cruising</a></li>
    <li><a href="#travel">Travel</a></li>

</ul>
</div><div id="container">
    <p>From Wikipedia, the free encyclopedia</p>

    <p>Longboarding is the act of riding on a longboard skateboard. A longboard is greater in size (both length and width) than its smaller counterpart, the skateboard, and has more stability, traction and durability due to lower wheel durometers. Many, but not all longboards, use trucks (axles) that contain different geometric parameters than a skateboard as well. These factors and their variation have given way to a variety of disciplines, functions and purposes for a longboard. The angles at which some longboards can turn, as well as their ability to coast long distances make them more suitable for cruising on streets than regular skateboards.</p>
    <a name = "board"></a><h2>Board</h2>
    <hr />
    <p>A longboard generally can be as short or as long as the rider desires, though the board should not be longer than the rider's height, as that would cause loss of control. The most popular length-range is about 32 to 60 inches. (Average skateboards are 28″- 32″, with most being about 31-31.5 inches long.[1]</p>
    <p>As well as usually being longer than a trick deck skateboard, longboards may also be equipped with larger, softer wheels which afford a smoother, faster ride depending on the durometer it can be slower. However, there are many different uses for longboards, as shown below. Since longboards use softer bushings than a typical tech skateboard, carving is generally easier. Some trucks use springs instead of bushings, such as Seismic trucks or Original trucks. Original trucks also feature a wave-cam mechanism to control the lean and turn of the truck. The truck can usually be slightly wider than the board but this is not always the case.</p>
    <a name="uses"></a><h2>Uses</h2>
    <hr />
    <a name="transportation"></a><h3>Transportation</h3>
    <p>The most basic use of a longboard is travel. Commuter designs take many different shapes, including long, wide cruisers as well as shorter hybrid type boards. Their trucks are designed to be loose to allow for sharper turns. It is useful to have a kicktail on a commuting longboard in order to corner on sidewalks and to lift the front of the board when riding off curbs.</p>
    <p>Also, one may prefer a shorter board, around 24"-35" for commuting, as well as medium sized wheels (65mm-75mm) which help commuters maneuver bumps, cracks and other minor surface obstacles. One problem with this way of travel is that in some places it can be illegal. There have been cases when a longboarder has received a ticket for longboarding in certain areas, because some consider longboarding skateboarding. [2]</p>
    <a name ="slalom"></a><h3>Slalom</h3>
    <p>Slaloming is the act of weaving in and out of a line of obstacles. Riders often compete for the best time but pedestrian slalom (usually referred to as civilian slalom because of the alliteration) is a non-competitive form of this discipline in which riders simply swerve around whatever obstacles they find in their path while navigating from point A to B. Slalomers usually have very soft and grippy wheels in the back to grip through the turns, and slightly harder wheels in the front to reduce rolling resistance and reach higher speeds. Slalom riders propel themselves by carving and gyrating their bodies, a technique known as pumping.</p>
    <a name="freeride"></a><h3>FreeRide</h3>
    <p>Freeriding involves sliding and other tricks such as early grabs (where one grips the side of the board while on the ground and thrusts upward to become airborne) at medium to high speeds. The decks, which are often symmetrical, may have kicktails on both sides that allow for flip tricks like shove-its and even ollies. These decks are typically from 36-44 inches long and from 8.5-10.5 inches wide. Most freeride decks utilize similar construction to downhill boards. Some companies are now trying to produce freeride decks that also do freestyle. They make these hybrid boards by adding kicktails and striving to make the boards out of lighter materials. This allows freestyle riders to perform a larger variety of tricks, such as flips, shuvits, manuals and early grabs. The kicktails allow for freestyle tricks such as the tiger claw.</p>
    <a name="downhill"></a><h3>Downhill</h3>
    <p>Downhill longboarding involves riding down hills as fast as possible and keeping the board under control. These boards are usually 95–110 cm (35 – 44 inches) long, featuring wheel bases from 28-35 inches, and very stiff to improve stability. One usually bends his/her knees in order not to "speed wobble". It is also very common to use these boards for free-riding. The trucks are often at the far ends of the board to maximize the wheelbase, but sometimes closer together to allow for easier maneuvering on more technical roads. A longer distance between the front and rear wheels, known as the wheelbase, will increase stability, while a shorter wheelbase will increase the board's turning radius and decrease stability. In order to lower the center of gravity, downhill longboards sometimes feature a lowered platform. The deck may be mounted below the baseplate of the trucks (drop-through configuration), by the shape of the deck itself (dropped-deck) or both (double-drop).</p>
    <p>Wider trucks with lower pivot angles (to increase stability at the expense of turning capability) may be used as well as axle bearings that rotate independently of wheel bearings to further increase top speed. Downhill longboarders sometimes use leather suits and streamlined helmets to protect themselves as well as reduce aerodynamic drag.</p>
    <a name="dancing"></a><h3>Dancing</h3>
    <p>Dancing is a resurgence of old-school tricks in longboarding that involves a variety of walking and spinning moves. Dancing originates from boardwalking in surfing. A board is usually considered a dancing board when it is around 45+ inches long and can be up to 12 inches wide, and although most of the tricks can be performed on smaller decks, a larger deck provides a more comfortable platform and takes more skill to maneuver</p>
    <a name="cruising"></a><h3>Cruising</h3>
    <p>A longboard is not only defined by its length. The trucks on a longboard are typically made for better turning ability than standard skateboard trucks, and the wheels are usually larger and softer than standard skateboard wheels to make for a smooth ride. Cruisers have these features but are the length of a normal skateboard (around 22-30 inches).</p>
    <p>A mini longboard is typically shaped similarly to the retro-style skateboards of the early 80's. Some mini longboards have kicktails for jumping off curbs and lifting the board while commuting. Many skaters choose mini longboards for commuting as they are the ideal size to carry around or put in a locker.</p>
    <a name="travel"></a><h3>Travel</h3>
    <p>Longboards can be used for traveling long distances. Any skateboard can be used for long distance journeys, however, decks designed specifically for long distance trips are typically lower to the ground than regular top mounted longboards. Long distance skating with charitable fundraising has emerged </p>
    <a href="http://en.wikipedia.org/wiki/Longboarding">Original Article Here</a>
</div>
<!--Test-->
</body>
</html>